.header__link {
    margin-top: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    transition: opacity ease-in-out 0.2s;
}

.header__link:hover {
    opacity: 0.6;
}
