.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background: url("../../../images/Close-Icon.svg") no-repeat center;
    background-size: contain;
    transition: opacity ease-in-out 0.2s;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen  and (max-width: 425px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}

@media screen  and (max-height: 400px) {
    .popup__close {
        top: 10px;
        right: -36px;
        max-width: 20px;
    }
}